@import url("https://fonts.googleapis.com/css2?family=Manrope");

:root {
  --clr-purple: #6A35FF;
  --text-clr-h: #202046;
  --bg-clr: #F0F0F4;
  --white: #FFFFFF;

  --clr-purple-400: #73738B;
  --clr-grey-500: #A2A7AF;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
svg {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background-color: var(--bg-clr);
  font-family: "Manrope", monospace;
}

.container {
  height: 100vh;
  position: relative;
}

nav {
  gap: 3rem;
  width: 80px;
  height: 100%;
  display: flex;
  transition: 0.15s;
  position: relative;
  padding: 1.5rem 1rem;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white);
  box-shadow: 0 0 3px -1px var(--clr-grey-500);
}

nav.show {
  width: 200px;

  & .profile {
    & div {
      display: block;
    }
  }

  & .nav-links li a {
    justify-content: start;
  }

  & .nav-links li a .text,
  & .logout-btn span {
    padding: 0;
    opacity: 1;
    position: static;
    visibility: visible;
    color: var(--clr-grey-500);
    background-color: transparent;

    &::after {
      position: static;
    }
  }

  & .logout-btn {
    background-color: var(--clr-purple);
    outline: 2px solid var(--clr-purple);

    & i {
      color: var(--white);
    }

    & span {
      color: var(--white);
    }

    &:hover {
      scale: 0.95;

      & i {
        color: var(--white);
      }
    }
  }

  & .toggle-nav {
    & i {
      transform: rotate(185deg);
    }
  }
}

.profile {
  gap: 0.85rem;
  display: flex;
  align-items: center;
}

.profile img {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  object-fit: cover;
  border-radius: 50%;
}

.profile div {
  display: none;
}

.profile h3 {
  font-size: 0.85rem;
  color: var(--text-clr-h);
}

.profile h4 {
  font-weight: 500;
  font-size: 0.75rem;
  color: var(--clr-purple-400);
}

.nav-links {
  gap: 0.85rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.nav-links li {
  padding: 0.5rem;
  position: relative;
  border-radius: 0.5rem;
}

.nav-links li:hover,
.nav-links li.active {
  background-color: var(--bg-clr);

  & a {
    font-weight: 500;
    color: var(--text-clr-h);
  }
}

.nav-links li:hover a .text,
.logout-btn:hover span {
  opacity: 1;
  visibility: visible;
}

.nav-links li a {
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-grey-500);
}

.nav-links li a .text,
.logout-btn span {
  left: 150%;
  opacity: 0;
  visibility: hidden;
  font-size: 0.85rem;
  position: absolute;
  color: var(--white);
  border-radius: 0.35rem;
  padding: 0.65rem 0.85rem;
  background-color: var(--text-clr-h);
}

.nav-links li a .text::after,
.logout-btn span::after {
  top: 50%;
  content: "";
  left: -0.75rem;
  width: 0.75rem;
  height: 0.75rem;
  position: absolute;
  transform: translateY(-50%);
  background-color: var(--text-clr-h);
  clip-path: polygon(0% 50%, 100% 0%, 100% 100%, 0% 50%);
}

.nav-links li a i {
  font-size: 1.25rem;
}

.logout-btn {
  gap: 1rem;
  border: none;
  display: flex;
  padding: 0.65rem;
  transition: 0.25s;
  font-size: inherit;
  position: relative;
  align-items: center;
  outline-offset: 2px;
  border-radius: 100vw;
  justify-content: center;
  background-color: transparent;
}

.logout-btn i {
  font-size: 1.2rem;
  color: var(--clr-grey-500);
}

.logout-btn:hover i {
  color: var(--text-clr-h);
}

.toggle-nav {
  top: 2rem;
  left: 100%;
  border: none;
  outline: none;
  display: none;
  padding: 0.5rem;
  position: absolute;
  background-color: var(--white);
  border-radius: 0 0.35rem 0.35rem 0;
}

.toggle-nav i {
  font-size: 1.5rem;
}

@media screen and (min-width: 700px) {
  .toggle-nav {
    display: block;
  }
}
